*{
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: white;
    line-height: 1.7;
}

@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        background-attachment: scroll;
    }

    .hero-content {
        font-size: 1.2rem;
        padding: 0 20px;
    }
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    gap: 1400px;
    color: white;
    font-weight: 600;
}

.header a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.199), rgb(0, 0, 0)),
    url(https://github.com/sslaphoww/my-portfolio-projects/blob/main/background.png?raw=true)
    center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 400px;
  line-height: 1.2;
}

.hero-content {
    font-size: 1.8rem;
    margin-bottom: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    display: flex;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    background-color: #2815cc;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 20px #2815cc;
    padding-top: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(105, 12, 255);
    color: #000000;
    box-shadow: 0 0 50px rgba(105, 12, 255, 0.808);
    transform: translateY(-5px);
}

.sector2 {
    padding: 80px 0;
    margin-bottom: 50px;
    height: 400px;
    font-size: 1.4rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.card {
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    background: #0f0f18;
    box-shadow: 0px 0px 50px #4400ff2c;
    transition: 0.3s;
}

.card-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 50px #4400ff4d;
}

.about {
    gap: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.199)),
    url(https://github.com/sslaphoww/my-portfolio-projects/blob/main/background.png?raw=true)
    center/cover no-repeat fixed;
}

.about-content {
    margin-bottom: 10px;
    padding-top: 200px;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
    font-size: 1.5rem;
}

.vr {
    width: 450px;
    margin: 50px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}